
    <div class="homePic">
        <img src="/images/randomdog.jpg" width="500" height="400"/>
    </div>
    <h3 class="message">From the big WOOFS to the small woofs, Doggy Instagram is the <br />place for your dog to express themselves</h3>

